@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

.event-list-heading {
  font-size: 25px;
  margin-bottom: 5px;
  border-bottom: 2px solid #FF6E2C;
}

.start-button {
	margin-top: 30px;
	font-size: 12px;
	font-family: 'Roboto Mono', monospace;
	z-index: 1;
}

.start-button:hover {
	cursor: pointer;
}

.timer {
	font-size: 25px;
}

.uk-grid-small > * {
	display: flex;
	flex-direction: column;
	align-items: center;
}