.heading-text {
  color: white !important;
}

.heading-text span {
  padding-bottom: 6px;
}

.uk-active .heading-text span {
  border-bottom: 2px solid #FF6E2C;
  padding-bottom: 4px;
}


.institute-logo {
	width: 30%;
	margin-top: 0.5em;
	margin-left: 0.5%;
  visibility: hidden;
}
@media screen and (max-width: 560px) and (min-width: 320px) {
  .uk-navbar-center:not(:only-child) {
    position: absolute;
    top: 120%;
    left: 35%;
  }
  .firebaseui-idp-button.mdl-button.mdl-js-button.mdl-button--raised.firebaseui-idp-google.firebaseui-id-idp-button {
    position: fixed;
    left: 95%;
  }
  .countdown{
    height: calc(100vh - 175px);
  }
}

