html, body {
	background: black;
	height: 100%;
	overflow-x: hidden;
	color: white;
}


.timer {
	display: flex;
	color: #FF6E2C;
}

.countdown {
	display: flex;
	height: 85vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.countdown-timer {
	align-items: flex-start;
}

.team {
	display: flex;
	justify-content: space-around;
}

.team-card {
	width: 300px;
	background-color: #1e87f0;
}

.dashboard {
	display: flex;
	flex-direction: column;
	margin-left: 100px;
	margin-right: 100px
}

.user-img {
	height: 50px;
	width: 50px;
}

.user-details {
	display: flex;
	justify-content: space-around;
}

.user-name {
	margin-left: 30px;
	align-self: center;
}

.update-mobile {
	display: flex;
	justify-content: space-around;
}

.dashboard-user-content {
	display: flex;
	width: 100vw;
	justify-content: space-between;
}

.primary-color {
	color: #FF6E2C;
}

.primary-color-border {
	border-color: #FF6E2C;
}
