body {
	background: black;
}

.timer {
	display: flex;
	color: #FF6E2C;
}

.countdown {
	display: flex;
	height: 85vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.countdown-timer {
	align-items: flex-start;
}

.team {
	display: flex;
	justify-content: space-around;
}

.team-card {
	width: 300px;
	background-color: #1e87f0;
}