html, body {
	background: black;
	height: 100%;
	overflow-x: hidden;
	color: white;
  font-family: 'Roboto Mono', monospace;
}

.team-ext, .team-ext:hover, .team-ext:focus {
  color: #FF6E2C;
}

.timer {
	display: flex;
	color: #FF6E2C;
}

.countdown-timer {
	align-items: flex-start;
}

.team {
	display: flex;
	justify-content: space-around;
}

.team-card {
	width: 300px;
}

.user-img {
	height: 50px;
	width: 50px;
}

.user-name {
	margin-left: 30px;
	align-self: center;
}

.update-mobile {
	display: flex;
	justify-content: space-around;
}

.dashboard-user-content {
	display: flex;
	width: 100vw;
	justify-content: space-between;
	flex-wrap: wrap;
}

.primary-color {
	color: #FF6E2C;
}

.primary-color-border {
	border-color: #FF6E2C;
	background-color: #fff0;
}

.white {
  color: white;
}

.event-description {
  width: 50%;
}
