@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

.blog-card {
  display: flex;
  width: 350px;
  height: 500px;
  top: 30%;
  left: 30%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: 10px 10px 10px 10px;
}

.blog-card.spring-fever {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1765/bg-blog-card.jpg) no-repeat;
}

.blog-card .color-overlay {
  /* Rectangle 11: */
  background: rgba(84, 104, 110, 0.4);
  width: 350px;
  height: 500px;
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  transition: background 0.5s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.blog-card .gradient-overlay {
  /* bg-gradient: */
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 21%);
  top: 350px;
  left: 0;
  z-index: 15;
}

.blog-card:hover .card-info {
  opacity: 1;
  bottom: 120px;
}

.blog-card:hover .title-content {
  top: 90px;
  transition: 0.5s;
  opacity: 1;
}

.blog-card:hover .color-overlay {
  background: rgba(84, 104, 110, 0.8);
}

.title-content {
  text-align: center;
  margin: 70px 0 0 0;
  position: relative;
  z-index: 20;
  top: 196px;
  left: 0;
  width: 350px;
  opacity: 0.5
}

h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}

.divider {
  justify-content: center;
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #D0BB57;
}

.intro {
  margin: 0 auto;
  font-family: 'Droid Serif', serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
  width: 350px;
}
