.links-section {
	display: flex;
	flex-direction: column;
}

.footer div{
	width: 30vw;
}

.footer-links {
	border-bottom: 1px dashed #FF6E2C;
	margin-bottom: 4px;
}

.section-title {
	color: white;
	padding-left: 8px;
	border-left: 4px solid #FF6E2C;
}

