.links-section {
	display: flex;
	flex-direction: column;
}

.links-section{
	width: fit-content;
}

.fest-logo {
	width: 25vw;
}

.footer {
	display: flex;
	justify-content: space-between;
}

.contact-section {
	width: 40vw;
}

.footer-links {
	border-bottom: 1px dashed #FF6E2C;
	margin-bottom: 4px;
	width: fit-content;
	color: white;
}

.section-title {
	color: white;
	padding-left: 8px;
	border-left: 4px solid #FF6E2C;
}

.icons {
	display: flex;
}

.single-icon {
	size: 10px;
	padding-left: 15px;
	font-size: x-large;
	color: #FF6E2C;
}